{% extends 'base.html.twig' %}

{% block title %}Barticle{% endblock %}

{% block body %}
    <h1>{{ barticle.titre }}</h1>
<hr>
      <h3>  {{  barticle.Contenu }} </h3>
<hr>
 <h2>Commentaires </h2>
      
         <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody> 
      
      {% for bcommentaire in commentaire %}
            <tr>
                <td>{{ bcommentaire.id }}</td>
                <td>{{ bcommentaire.contenu }}</td>
                <td>
                    <a href="{{ path('app_bcommentaire_show', {'id': bcommentaire.id}) }}">show</a>
                    <a href="{{ path('app_bcommentaire_edit', {'id': bcommentaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

    <a href="{{ path('app_barticle_index') }}">back to list</a>

    <a href="{{ path('app_barticle_edit', {'id': barticle.id}) }}">edit</a>

    {{ include('barticle/_delete_form.html.twig') }}
</table>

    <H1>Formulaire</H1>

    {{ include('bcommentaire/_form.html.twig') }}

{% endblock %}
