{% extends 'base.html.twig' %}

{% block title %}Barticle{% endblock %}

{% block body %}
    <h1>Barticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ barticle.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ barticle.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ barticle.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_barticle_index') }}">back to list</a>

    <a href="{{ path('app_barticle_edit', {'id': barticle.id}) }}">edit</a>

    {{ include('barticle/_delete_form.html.twig') }}
{% endblock %}
