{% extends 'base.html.twig' %}

{% block title %}Barticle index{% endblock %}

{% block body %}
    <h1>Barticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for barticle in barticles %}
            <tr>
                <td>{{ barticle.id }}</td>
                <td>{{ barticle.titre }}</td>
                <td>{{ barticle.contenu }}</td>
                <td>
                    <a href="{{ path('app_admin_barticle_show', {'id': barticle.id}) }}">show</a>
                    <a href="{{ path('app_admin_barticle_edit', {'id': barticle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_barticle_new') }}">Create new</a>
{% endblock %}
